{{define "subContent"}}
    <div class="jumbotron content" id="content">
        <p>
            <b>For all questions, contact Telegram or email:</b><br>
            <ul>
                <li><b>Telegram:</b> +7(904)-939-89-83</li>
                <li><b>Email:</b> glazunov2142@gmail.com</li>
            </ul>
        </p>
    </div>
{{end}}