.jumbotron-base-title{
    opacity: 0.7;
}

.jumbotron{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.in-jambatron-button{
    margin-left: 34px;
    margin-right: 34px;
}