{{template "base" .}}

{{define "content"}}
    <h2 align="center" class="jumbotron-base-title">
        <a href="javascript:void(0)" class="content-header" style="pointer-events: none;" disabled>About</a>
    </h2><hr>
{{end}}