{{template "base" .}}

{{define "content"}}
    <h2 align="center" class="jumbotron-base-title">
        <a href="{{.Content.TitleLink}}" class="content-header">{{.Content.Title}}</a>
    </h2><hr>
    
    <div align="center">
        <p><b>Hello in the TelegramBot help desk</b></p>

        <p>If you are using this system in first time, then you need log in for get full power of Notifications and Translation sections.</p>

        <p>In direct meaning, this system is help desk which displays your notifications which have been sent to bot from your telegram client.</p>

        <p>For log in the system, you need to get a special secret token from telegram client of bot chat, 
            just write `/token`, copy it and pass <a href="{{.Content.LoginByTokenLink}}" style="color: grey;">here</a>.</p>
    </div>
{{end}}